<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<ul></ul>
</body>
</html>
<script src="./jquery.js"></script>
<script>
	// $(".detail").on("click",function(){
	// 	var NO=$(this).text();
	// 	console.log(NO);
	var NO=location.search.split("=")[1];
		$.ajax({
			url:'/successed',
			type:'post',
			data:{
				NO:NO
			},
			success:function(msg){
				if(msg.code==0){
					console.log(msg.data[0].title)
					var str="";
                for(var i=0;i<msg.data.length;i++){
                    str+='<li>'+msg.data[0].title+'</li>'
                }
                $('ul').html(str)
				}else{
					// window.location.href='/success'
				}
			}
		})
	// })
</script>
